export DB_USER=admin
export DB_PASSWORD=secret
export DB_PORT=5432
export DB_NAME=golangapi
export DB_HOST=127.0.0.1
export DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_name}?sslmode=disable